body{
    background-color: #141414;
    color: #fff;
}

.menu{
    background-image: url('../assets/img/Background_header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

.logo{
    width: 200px;
    margin-left: 150px;
}


