body{
    background-color: #141414;
    color: #fff;
}

header{
    background-image: url('../assets/img/Background_header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

