/* Estilos gerais */

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    background-color: #007bff;
    background-image: url(../assets/img/cidade_montanhosa.jpeg);
    background-size: cover;
    backdrop-filter: blur(5px);
}

.list{
    flex: 1;
}

.list h4{
    text-align: center;
}

.client_table_title{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}

.client_table_title h4{
    padding: 5px 0;
    font-size: 20px;
    border: 1px solid black;
}

.client p{
    border: 0.5px solid black;
    padding: 5px;
    text-align: center;
}

.last_pay p{
    border: 0.5px solid black;
    padding: 5px;
    text-align: center;
}

.next_pay p{
    border: 0.5px solid black;
    padding: 5px;
    text-align: center;
}

.dashboard_title{
    background-color: rgb(232, 232, 232);
    padding: 10px;
    border-radius: 10px;
}

.dashboard_background {
    background-color: white;
    border-radius: 5px;
    padding: 10px 10px;
    padding-bottom: 20px;
}

.dashboard_background h3 {
    color: rgb(50, 50, 50);
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}
.dashboard_img{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}

.dashboard_img img{
    max-width: 100%;
}

.dashboard_description{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.message{
    display: flex;
    flex-direction: column;
}

.message_box h3{
    background-color: #55555529;
    padding: 10px 5px;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.714);
    font-weight: 600;
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.messages{
    border: 0.5px solid black;
    margin: 0px 10px;
    border-radius: 5px;
}

.messages div{
    border: 0.5px solid black;
    padding: 5px;
    display: flex;
    justify-content: space-between;

}

.title{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    background-color: #55555529;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

.icon-header{
    display: none;
}

.sections {
    background-color: white;
    border-radius: 5px;
}

.general_statistics .dashboard_title{
    margin: 0px 10px;
}

.devices{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.devices_title{
    margin: 10px;
    background-color: #55555529;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
}

.devices_monitoring{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.devices_monitoring div{
    background-color: #55555529;
    width: 40vh;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

.devices_monitoring h5{
    font-size: 20px;
}

.status{
    color: green;
}

.devices_monitoring p{
    margin: 5px 0px;
}

.sidebar {
    width: 250px;
    background: rgb(2,0,39);
    background: linear-gradient(90deg, rgba(2, 0, 39, 0.87) 0%, rgba(58, 47, 180, 0.81) 100%);
    background-attachment: fixed;
    color: white;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.sidebar-brand {
    padding: 20px;
    text-align: center;
}

.sidebar-brand h2 {
    font-family: 'Courier New', Courier, monospace sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
}

.sidebar-menu li {
    padding: 15px 20px;
}

.sidebar-menu li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 10px;
    
}

.sidebar-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.255);
    transition: 0.3s;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    height: 100vh;
    overflow-y: scroll;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-radius: 5px;
}

header h2 {
    font-family: 'Courier New', Courier, monospace sans-serif;
    color: rgb(50, 50, 50);
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
}

.search-wrapper {
    position: relative;
}

.search-wrapper input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

main section {
    padding: 20px 0;
}

main h3 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #007bff;
}

main p {
    margin: 0;
    color: #555;
}
