/* Estilos gerais */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f4f4f4;
}

.dashboard_background {
    background-color: white;
    border-radius: 5px;
    padding: 10px 10px;
}

.dashboard_background h3 {
    color: rgb(50, 50, 50);
    font-size: 20px;
}
.dashboard_img{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}

.dashboard_img img{
    max-width: 100%;
}

.dashboard_description{
    display: flex;
    gap: 100px;
}

.description1{
    margin-top: 10px;
    max-width: 25%;
    padding: 10px;
    border-radius: 5px;
    background-color: #5ecf2d;
    background-image: url(../assets/img/monitoring_icon.png);
    background-repeat: no-repeat;
    background-position: 35vh;
}

.description1 h3{
    color: rgb(255, 255, 255);
}

.description1 p{
    color: rgba(255, 255, 255, 0.821);
    max-width: 70%;
}

.more{
    margin-top: 10px;
    font-size: 15px;
}

.more a{
    color: white;
}

.sections {
    background-color: white;
    border-radius: 5px;
}

.view_more{
    border-top: solid white 0.5px ;
    background-color: #5ecf2d;
    width: 21.6%;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

.general_statistics h3{
    margin-bottom: 20px;
}

.statistics_img{
    display: flex;
    justify-content: space-around;
}

.statistics_img img{
    max-width: 100%;
}

.sidebar {
    width: 250px;
    background-image: url(/assets/img/Background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.sidebar-brand {
    background-image: url(/assets/img/Background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
    text-align: center;
}

.sidebar-brand h2 {
    font-family: 'Courier New', Courier, monospace sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
}

.sidebar-menu li {
    padding: 15px 20px;
}

.sidebar-menu li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 10px;
    
}

.sidebar-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.255);
    transition: 0.3s;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    height: 100vh;
    overflow-y: auto;
    background-image: url(/assets/img/cidade_montanhosa.jpeg);
    background-size: cover;
}

.main-content-blur {
    backdrop-filter: blur(5px);
    width: 100%;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-radius: 5px;
}

header h2 {
    font-family: 'Courier New', Courier, monospace sans-serif;
    color: rgb(50, 50, 50);
    margin: 0;
    font-size: 40px;
    font-weight: 800px;
}

.search-wrapper {
    position: relative;
}

.search-wrapper input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

main section {
    padding: 20px 0;
}

main h3 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #007bff;
}

main p {
    margin: 0;
    color: #555;
}
